.header{
	font-size: 15vw;
	font-family: 'Source Sans Pro', 'sans-serif';
  display: inline-block;
}
.container{
  margin: 0 auto;
  width: 70%;
  margin-top:10%;
  margin-bottom:10%;
}

ul{
  list-style-type: none;
}

nav { 
  font-size: 3vw;
  font-family: 'Source Sans Pro', 'sans-serif';
  display: inline-block;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  color: black;
  font-weight: bold;
  text-decoration: none;
}



