.header{
	font-size: 200px;
	font-family: 'Source Sans Pro', 'sans-serif';
}

nav {
  margin-bottom: 50px;
  font-size: 45px;
  font-family: 'Source Sans Pro', 'sans-serif';
  width: 200px;
  float: right;
  margin-top: -215px;
 margin-right: 370px;
}

nav a {
  margin-bottom:-20px;
  text-decoration: none;
  color: black;
  display: block;
}

nav a:hover {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

