  <!DOCTYPE html>
<html>

  {% include head.html %}
  <link rel="shortcut icon" type="image/png" href="/fav.jpg"/>
    <body>
    {% assign current = page.url | downcase | split: '/' %}
    {% if current[1] == 'about' %} <a href="/"> <i class="fa fa-home fa-2x"></i> </a> {% endif %} 
    {% if current[1] == 'blog' %} <a href="/"> <i class="fa fa-home fa-2x"></i> </a> {% endif %} 
    {% if current[1] == 'contact' %} <a href="/"><i class="fa fa-home fa-2x"></i></a> {% endif %} 
    {% if current[1] == 'calendar' %} <a href="/"><i class="fa fa-home fa-2x"></i></a> {% endif %} 
        <div class="page-content">
        <div class="wrap">
          <div class="container">
            {{ content }}
          <div class="nav">
            <a href="/about" {% if current[1] == 'about' %}class='navlinks_active'{% endif %} class="navlinks">about</a>
            <a href="/blog" {% if current[1] == 'blog' %}class='navlinks_active'{% endif %} class="navlinks">blog</a>
            <a href="/contact" {% if current[1] == 'contact' %}class='navlinks_active'{% endif %} class="navlinks">contact</a>
         </div>
       </div>
        </div>
    </div>
    </body>
</html>